body {
  background-color: rgb(225, 236, 246);
  margin: 50px auto 0 auto;
  text-align: center;
  /* font-family: "circular", emoji; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.stopwatchContainer {
  max-width: 500px;
  margin: 80px auto;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(167, 220, 220);
  box-shadow: 1px 1px 1px 0px #000029;
}

button {
  cursor: pointer;
  width: 95px;
  height: 39px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  margin-bottom: 20px;
  color: #ffff;
  background-color: rgb(65, 106, 106);
  font-size: large;
}

button:hover {
  background-color: rgb(32, 55, 74);
}
