body {
  background: linear-gradient(
      45deg,
      #ffecb3,
      #dcedc8,
      #b3e0ff,
      #f8bbd0,
      #cfd8dc
    )
    no-repeat;
  margin: 0%;
  padding: 50px;
  /* margin: 50px auto 0 auto; */
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  /* font-family: "circular", emoji; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.stopwatchContainer {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  background: linear-gradient(
    95deg,
    #dac485,
    #b8e188,
    #82bee6,
    #e9a8bf,
    #9dd7f0
  );
  box-shadow: 1px 1px 1px 0px #000029;
}

button {
  cursor: pointer;
  width: 95px;
  height: 39px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  margin-bottom: 20px;
  color: #ffff;
  background-color: rgb(65, 106, 106);
  font-size: large;
}

button:hover {
  background-color: rgb(32, 55, 74);
}
